:root {
  --accent-color: #2196F3;
  --heading-text-color: #212121;
  --description-text-color: #757575;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --icon-color: #AFB1B8;
  --transition-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-light-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

button {
  cursor: pointer;
}

/*.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__item-link {
  transition: background-color var(--transition-duration) var(--transition-function), color var(--transition-duration) var(--transition-function);
  color: var(--icon-color);
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.social-list__item-link:hover, .social-list__item-link:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transform: scale(1);
  transition: opacity var(--transition-duration) var(--transition-function), visibility var(--transition-duration) var(--transition-function), scale var(--transition-duration) var(--transition-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

@media screen and (max-width: 480px) {
  .modal-window {
    position: absolute;
    max-width: 450px;
    width: calc(100% - 30px);
    min-height: 609px;
    background-color: var(--main-light-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
  }
}
.modal-window__exit-button {
  transition: border-color var(--transition-duration) var(--transition-function), color var(--transition-duration) var(--transition-function);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--main-light-color);
  color: #000000;
  padding: 0;
}
.modal-window__exit-button:hover, .modal-window__exit-button:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.modal-window__exit-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .modal-window {
    position: absolute;
    width: calc(100% - 30px);
    max-width: 450px;
    min-height: 609px;
    background-color: var(--main-light-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
  }
}
/*.modal-window {
    position: absolute;
    width: 528px;
    min-height: 581px;
    background-color: var(--main-light-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}


*/
@media screen and (max-width: 480px) {
  .modal-window-form__agreement-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .modal-window-form__agreement {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration-line: none;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
  }
}
.modal-window-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.modal-window__title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-window-form__name {
  margin-bottom: 4px;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-window-form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #000000;
  transition: border-color var(--transition-duration) var(--transition-function);
}
.modal-window-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-window-form__form-field {
  margin-bottom: 10px;
}

.modal-window-form__input-wrapper {
  position: relative;
}

.modal-window-form__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: #212121;
  transition: fill var(--transition-duration) var(--transition-function);
}
.modal-window-form__input:focus + .modal-window-form__input-icon {
  fill: var(--accent-color);
}

.modal-window-form__form-field-comment {
  margin-bottom: 20px;
}

.modal-window-form__name-comment {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-window-form__comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-function);
}
.modal-window-form__comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-window-form__comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-window-form__check:checked + .modal-window-form__fake-checkbox-span {
  border: none;
}

.modal-window-form__check:checked + .modal-window-form__fake-checkbox-span > .modal-window-form__fake-checkbox-icon {
  border-radius: 4px;
  background-color: var(--accent-color);
  fill: var(--main-light-color);
  opacity: 1;
}

.modal-window-form__check-desc {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window-form__fake-checkbox-span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  background-color: var(--main-light-color);
}

.modal-window-form__fake-checkbox-icon {
  opacity: 0;
  background-color: var(--main-light-color);
}

.modal-window-form__submit-button {
  align-self: center;
  min-height: 50px;
  width: 200px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  transition: background-color var(--transition-duration) var(--transition-function);
}
.modal-window-form__submit-button:hover, .modal-window-form__submit-button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .modal-window-form__agreement-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .modal-window-form__agreement {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration-line: none;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .modal-window__title {
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .modal-window-form__comment {
    resize: none;
    width: 100%;
    height: 120px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-duration) var(--transition-function);
  }
  .modal-window-form__comment:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .modal-window-form__comment::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-window-form__agreement-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .modal-window-form__agreement {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: none;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-duration) var(--transition-function), visibility var(--transition-duration) var(--transition-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
  .mobile-menu-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-list__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile-menu-list__link--current {
    color: var(--accent-color);
  }
  .mobile-menu-mail {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu-tel {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 32px;
  }
  .mob-menu-social-list {
    display: flex;
  }
  .mob-menu-social-list__item:not(:last-child) {
    margin-right: 10px;
  }
  .mob-menu-social-list__item:not(:last-child)::after {
    content: "";
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    border-right-color: rgba(33, 33, 33, 0.2);
    border-right-style: solid;
    border-right-width: 1px;
  }
  .mob-menu-social-list__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contact-header-info {
    display: none;
  }
  .mobile-menu-open {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
}
.page-header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.logotype-header-style {
  display: block;
  padding: 16px 0;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  font-family: var(--secondary-font);
  line-height: 1.19;
  color: #000000;
}

.logotype__part {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .logotype-header-style {
    padding: 26px 0;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item-link.current {
    position: relative;
    padding-bottom: 28px;
  }
  .menu__item-link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    margin-bottom: -4px;
  }
  .menu__item-link {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    transition: color var(--transition-duration) var(--transition-function);
    font-family: "Roboto";
    line-height: 1.14;
    color: #212121;
  }
  .menu__item-link:hover, .menu__item-link:focus {
    color: #2196F3;
  }
  .current {
    color: var(--accent-color);
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .logotype-header {
    margin-right: 88px;
  }
  .mobile-menu-info__item .contact-icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .contact-header-info__container {
    justify-content: center;
    text-align: center;
  }
  .contact-header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mobile-menu-info__mail {
    margin-bottom: 10px;
  }
  .contact-part {
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .mobile-menu-info__item {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    transition: color var(--transition-duration) var(--transition-function);
    display: flex;
    flex-direction: row-reverse;
    font-family: var(--primary-font);
    font-style: normal;
    line-height: 1.14;
    color: #757575;
  }
  .mobile-menu-info__item:focus, .mobile-menu-info__item:hover {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: var(--main-light-color);
    border-bottom: 1px solid #ECECEC;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .logotype-header {
    margin-right: 93px;
  }
  .contact-header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .mobile-menu-info__mail {
    margin: 0;
  }
  .mobile-menu-info__tel {
    margin-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 190px;
    text-align: center;
  }
  .hero-overlay {
    height: 400px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-480@2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .hero__title {
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-light-color);
  }
}
@media screen and (max-width: 767px) {
  .modal-button {
    transition: background-color var(--transition-duration) var(--transition-function);
    display: inline-block;
    min-width: 200px;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-light-color);
    background-color: var(--accent-color);
  }
  .modal-button:hover, .modal-button:focus {
    background-color: #188CE8;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 198px;
    text-align: center;
  }
  .hero-overlay {
    height: 400px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-768@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    max-width: 360px;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-light-color);
  }
}
@media screen and (min-width: 768px) {
  .modal-button {
    transition: background-color var(--transition-duration) var(--transition-function);
    display: inline-block;
    min-width: 200px;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-light-color);
    background-color: var(--accent-color);
  }
  .modal-button:hover, .modal-button:focus {
    background-color: #188CE8;
  }
}
@media screen and (min-width: 1200px) {
  .hero-overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-1600.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #C4C4C4;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-1600@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    max-width: 696px;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    align-self: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-light-color);
  }
}
@media screen and (min-width: 1200px) {
  .modal-button {
    transition: background-color var(--transition-duration) var(--transition-function);
    display: inline-block;
    min-width: 152px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-light-color);
    background-color: var(--accent-color);
  }
  .modal-button:hover, .modal-button:focus {
    background-color: #188CE8;
  }
}
@media screen and (max-width: 767px) {
  .advantage {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .advantages__icon-container {
    background: #F5F4FA;
    border-radius: 4px;
    height: 120px;
    max-width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .advantage-icon__title {
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    width: 270px;
    font-family: "Roboto";
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--heading-text-color);
    text-align: center;
    margin: 0 auto;
  }
  .advantage-icon__description {
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    max-width: 450px;
    font-family: var(--primary-font);
    line-height: 1.71;
    color: var(--description-text-color);
  }
  .advantage-icon__description:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantage {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .advantages__icon-container {
    background: #F5F4FA;
    border-radius: 4px;
    height: 120px;
    max-width: 354px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .advantage-icon__title {
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    width: 270px;
    font-family: "Roboto";
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--heading-text-color);
  }
  .advantage-icon__description {
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    width: 354px;
    font-family: "Roboto";
    line-height: 1.71;
    color: var(--description-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .advantage__container {
    display: flex;
  }
  .advantage {
    padding-top: 94px;
  }
  .advantages {
    display: flex;
  }
  .advantages__icon-container {
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .advantage-icon__title {
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    width: 270px;
    font-family: var(--primary-font);
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--heading-text-color);
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
    width: 270px;
  }
  .advantage-icon__description {
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    width: 270px;
    font-family: var(--primary-font);
    line-height: 1.71;
    color: var(--description-text-color);
  }
  .advantage-icon__description:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .work-image-overlay {
    position: relative;
  }
  .work-image-description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-light-color);
  }
  .work-images {
    display: flex;
  }
  .image-example:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #F5F4FA;
  }
  .team__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  .team-card:not(:last-child) {
    margin-bottom: 30px;
  }
  .team-card__wrapper {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}
.team-card__member {
  margin-bottom: 10px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);
}

.team-card__job {
  margin-bottom: 16px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.team-card {
  background: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #F5F4FA;
  }
  .team-img-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-card:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  .team-card__wrapper {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team-img-list {
    display: flex;
    column-gap: 30px;
    flex-wrap: nowrap;
  }
  .team-card__member-img {
    width: 270px;
    min-height: 260px;
  }
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
  }
  .team-card__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team__title {
    padding-bottom: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-text-color);
  }
  .team-card__member {
    margin-bottom: 10px;
  }
  .team-card__member {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-text-color);
  }
  .team-card__job {
    margin-bottom: 16px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
  }
}
@media screen and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .client-list__item {
    flex-basis: calc(50% - 15px);
  }
}
.client-list__link {
  color: var(--icon-color);
  transition: color var(--transition-duration) var(--transition-function), border-color var(--transition-duration) var(--transition-function);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  max-width: 100%;
  height: 92px;
}
.client-list__link:hover, .client-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-list__icon {
  fill: currentColor;
  justify-content: center;
  align-items: center;
}
.client-list__icon:hover, .client-list__icon:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .client-list__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 92px;
  }
  .clients__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  .clients-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: space-around;
  }
}
/*.clients {
  padding-top: 94px;
  padding-bottom: 92px;
}

.clients-list {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}




*/
@media screen and (max-width: 767px) {
  .examples {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .buttons-list {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
.buttons-list__example-button {
  transition: color var(--transition-duration) var(--transition-function), background-color var(--transition-duration) var(--transition-function), box-shadow var(--transition-duration) var(--transition-function);
  padding: 6px 25px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
}
.buttons-list__example-button:hover, .buttons-list__example-button:focus {
  color: var(--main-light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .examples {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .buttons-list {
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .examples {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .buttons-list {
    margin-bottom: 56px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 8px;
  }
}
@media screen and (max-width: 767px) {
  .project-image {
    min-height: 294px;
    width: 100%;
  }
}
.project-image__overlay {
  display: flex;
  align-items: center;
  padding: 24px;
}

.project-card__overlay {
  position: relative;
  overflow: hidden;
}

.project-image__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-light-color);
}
.project-card:hover .project-image__overlay {
  transform: translateY(0%);
}

.project-card {
  background-color: var(--main-light-color);
}

.project-card__wrapper {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project-card__wrapper {
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.project-card__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading-text-color);
}

.project-card__description {
  font-weight: 400;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.project-card__shadow {
  transition: box-shadow var(--transition-duration) var(--transition-function);
}
.project-card__shadow:hover, .project-card__shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .project-image {
    display: block;
    max-width: 100%;
  }
  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .project-card__wrapper {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .project-list:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .project-image {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .logotype-footer-style {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  .studio-adress {
    text-align: center;
  }
  .contact-list__item {
    text-align: center;
  }
  .page-footer__join-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .page-footer__join {
    text-align: center;
  }
  .subscribe-form__title {
    margin-right: auto;
    margin-left: auto;
  }
  .subscribe-button {
    margin: 0 auto;
    margin-top: 20px;
  }
}
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.logotype-footer-style {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logotype__part-footer {
  color: var(--main-light-color);
}

.studio-adress {
  margin-top: 20px;
  margin-bottom: 9px;
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-light-color);
  font-style: normal;
}

.contact-list__item {
  transition: color var(--transition-duration) var(--transition-function);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contact-list__item:not(:last-child) {
  margin-bottom: 9px;
}
.contact-list__item:focus, .contact-list__item:hover {
  color: var(--accent-color);
}

.page-footer__join {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.join-social-list {
  display: flex;
  justify-content: center;
}

.join-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.join-social-list__link {
  transition: background-color var(--transition-duration) var(--transition-function);
  color: var(--main-light-color);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.join-social-list__link:hover, .join-social-list__link:focus {
  background-color: var(--accent-color);
}

.join-social-list__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.subscribe-form__title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  display: block;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.subscribe-button__name {
  padding-left: 28px;
  margin-right: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
}

.subscribe-button__icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .page-footer__join-wrapper {
    text-align: center;
  }
  .page-footer__adress-wrapper {
    justify-content: center;
    text-align: center;
  }
  .subscribe-form__input {
    width: 450px;
    margin-bottom: 20px;
  }
  .subscribe-form {
    margin-top: 60px;
  }
  .subscribe-button {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .studio-adress {
    margin-top: 0;
    margin-bottom: 9px;
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-light-color);
    font-style: normal;
  }
  .logotype-footer-style {
    text-align: left;
    margin-bottom: 20px;
    display: block;
  }
  .subscribe-form {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    margin: 0;
  }
  .subscribe-form__input {
    margin-bottom: 0;
  }
  .contact-list__item {
    text-align: left;
  }
  .subscribe-form__label {
    display: flex;
    flex-direction: column;
  }
  .subscribe-form__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
  }
  .subscribe-button {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
  }
}/*# sourceMappingURL=main.css.map */