@media screen and(max-width:480px){
    .advantage {
            padding-top: 85px;
    }
    
    .advantages__icon-container {
            background: #F5F4FA;
            border-radius: 4px;
            height: 120px;
            max-width: 100%;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            text-align: center;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    }
    .advantage-icon__title {
            @include font(0.03em, 700, 14px);
    
            margin-bottom: 10px;
            width: 270px;
            font-family: 'Roboto';
            line-height: 1.14;
            text-transform: uppercase;
            color: var(--heading-text-color);
            text-align: center;
            margin: 0 auto;
    }

        .advantage-icon__description {
            @include font(0.03em, 400, 14px);
    
            width: 450px;
            font-family: var(--primary-font);
            line-height: 1.71;
            color: var(--description-text-color);
            margin-bottom: 30px;
            
        }   
}

@media screen and (min-width:768px){
    .advantage {
            padding-top: 85px;
    }
    
 .advantages {
    display: flex;
    flex-wrap: wrap;
}

.advantages__item:nth-child(2n+1){
margin-right: 30px;
}

.advantages__icon-container {
    background: #F5F4FA;
    border-radius: 4px;
    height: 120px;
    max-width: 354px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.advantage-icon__title {
    @include font(0.03em, 700, 14px);

    margin-bottom: 10px;
    width: 270px;
    font-family: 'Roboto';
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--heading-text-color);
}

.advantage-icon__description {
    @include font(0.03em, 400, 14px);

    width: 354px;
    font-family: 'Roboto';
    line-height: 1.71;
    color: var(--description-text-color);
}
}

@media screen and (min-width: 1200px){
    .advantage__container {
            display: flex;
        }
    
        .advantage {
            padding-top: 94px;
        }
    
        .advantages {
            display: flex;
    
        }
    
        .advantages__icon-container {
            background: #F5F4FA;
            border-radius: 4px;
            width: 270px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
        }
    
        .advantage-icon__title {
            @include font(0.03em, 700, 14px);
    
            margin-bottom: 10px;
            width: 270px;
            font-family: var(--primary-font);
            line-height: 1.14;
            text-transform: uppercase;
            color: var(--heading-text-color);
        }
    
        .advantages__item:not(:last-child) {
            margin-right: 30px;
            width: 270px;
        }
    
        .advantage-icon__description {
            @include font(0.03em, 400, 14px);
    
            width: 270px;
            font-family: var(--primary-font);
            line-height: 1.71;
            color: var(--description-text-color);
    
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
}
