 @media screen and(max-width:1199px){
    .work{
        display: none;
        visibility: hidden;
    }
 }
@media screen and (min-width:1200px){
    .work{
        padding-bottom: 94px;
    }  
    .work__title{
        margin-bottom: 50px;
        
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--heading-text-color);
    }
    .work-image-overlay {
            position: relative;
        }
    
        .work-image-description {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            min-height: 70px;
            background-color: rgba(47, 48, 58, 0.8);
            padding-top: 27px;
            padding-bottom: 27px;
            display: flex;
            justify-content: center;
    
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--main-light-color);
        }
    
        .work-images {
            display: flex;
        }
    
        .image-example:not(:last-child) {
            margin-right: 30px;
        }
}

