@media screen and(max-width:767px) {
.modal-window {
        position: absolute;
        max-width: 450px;
        width: calc(100% - 30px);
        min-height: 609px;
        background-color: var(--main-light-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
    }
}

.modal-window__exit-button {
    transition: border-color var(--transition-duration) var(--transition-function),
        color var(--transition-duration) var(--transition-function);

    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-light-color);
    color: #000000;
    padding: 0;

    &:hover,
    &:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
    }
}

.modal-window__exit-icon {
    fill: currentColor;
}

@media screen and(min-width:768px){
.modal-window {
        position: absolute;
        width: calc(100% - 30px);
        max-width: 450px;
        min-height: 609px;
        background-color: var(--main-light-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
    }
}

@media screen and(min-width:1200px) {
    .modal-window{
    max-width: 528px;
    }
}
/*.modal-window {
    position: absolute;
    width: 528px;
    min-height: 581px;
    background-color: var(--main-light-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}


*/
