:root {
    --accent-color: #2196F3;
    --heading-text-color: #212121;
    --description-text-color: #757575;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --icon-color: #AFB1B8;
    --transition-duration: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
    --main-light-color: #FFFFFF;
}